<mat-card appearance="raised">
    <h2 style="text-align: center;"> {{ 'comments' | translate}} </h2>

    <mat-card-content>

        <div style="display: flex; flex-direction: column; align-items: stretch; gap: 1em;">
            <div *ngIf="!(commentService.commentList$ | async)?.length"
                 style="text-align: center; ">
                {{ 'empyt-comment-section' | translate}}
            </div>
            <div *ngFor="let comment of commentService.commentList$ | async">
                <app-comment [comment] = comment></app-comment>
            </div>


            <mat-divider></mat-divider>
            <mat-card appearance="raised">
                <mat-card-header>
                    <div mat-card-avatar
                         [style.background-image]="'url(' + (authService.authState | async)?.photoUrl + ')'"
                         [style.background-size]="'cover'">
                    </div>

                    <mat-card-title> {{(authService.authState | async)?.firstName || 'Annonymous'}} </mat-card-title>
                    <mat-card-subtitle> User </mat-card-subtitle>

                </mat-card-header>
                <mat-form-field style="margin: 1em;">
                    <mat-label> {{ 'comment-field' | translate}} </mat-label>
                    <textarea [formControl]="commentFormControl"
                              matInput
                              type="text"
                              [rows]="getTextFieldSize()"
                              placeholder="I really like your site!"></textarea>
                </mat-form-field>
            </mat-card>
        </div>
        <div style="margin: 1em; display: flex; flex-direction: row; justify-content: flex-end; gap: 1em;">
            <button (click)="postComment()"
                    mat-raised-button> {{ 'post-button' | translate}} </button>
        </div>
    </mat-card-content>
</mat-card>