<button id="login" *ngIf="!(authService.scopes$ | async)"
        mat-raised-button
        (click)="authService.login()">
    Login
</button>
<button id="logout" *ngIf="(authService.scopes$ | async)"
        mat-raised-button
        (click)="authService.logoff()">
    LogOut
</button>