<a [routerLink]="['/projects']" class="projects">
    <mat-card appearance="raised">
        <mat-card-title style="text-align: center;">
            {{'projects' | translate}}
        </mat-card-title>
        <mat-card-content style="text-align: center;">
            {{'home-projects-paragraph' | translate}}
        </mat-card-content>
    </mat-card>
</a>