<button mat-raised-button
        [matMenuTriggerFor]="miniMenu"
        class="tool-bar-button">
        <mat-icon style="transform: scale(1.5); margin: 0.3em "> more_vert</mat-icon>
</button>

<mat-menu #miniMenu="matMenu">
    <button mat-menu-item
            [matMenuTriggerFor]="languageMenu"> Language </button>
    <button mat-menu-item
            (click)="themeService.next()"> {{ themeService.nextTheme() |
        translate}} </button>
</mat-menu>

<mat-menu #languageMenu="matMenu">
    <button mat-menu-item
            *ngFor="let language of this.languageService.languages"
            (click)="this.languageService.use(language.code)">
        {{language.name}} </button>
</mat-menu>