.mytoolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    height: 3em;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    margin:0
}