<mat-toolbar color="primary"
             class="mytoolbar">
    <button *ngIf="!(sidenavService.isOpen$ | async)!"
            mat-raised-button
            (click)="sidenavService.open()">
        <mat-icon style="transform: scale(2); margin: 0.3em "> menu </mat-icon>
    </button>
    <span style="flex: 1 1 auto;"></span>
    <div *ngIf="longToolBar$ | async"
         class="button-row">

        <app-language-button></app-language-button>
        <app-auth-button></app-auth-button>

        <button mat-raised-button
                (click)="themeService.next()">
            {{ themeService.nextTheme() | translate}}
        </button>
        <app-user-menu-button id="user-menu-button"></app-user-menu-button>

    </div>

    <div *ngIf="!(longToolBar$ | async)"
         class="button-row">

         <app-mini-menu *ngIf="!(longToolBar$ | async)" id="mini-menu-button"></app-mini-menu>
         <app-user-menu-button id="user-menu-button"></app-user-menu-button>     
    
    </div>


</mat-toolbar>