<div class="all">
    <div class="content" style="display: flex; flex-direction: column; text-align: center; width: 100%;">
        <h1> {{"job-offer-form" | translate}} </h1>
        <form [formGroup]="offer" style="width: 100%;">
            <div>
                <h2> {{"job-header" | translate}} </h2>
            </div>
            <div formGroupName="job" class="subform">
                <mat-form-field>
                    <mat-label> {{"job-title" | translate}} </mat-label>
                    <input matInput type="text" formControlName="title">
                </mat-form-field>
                <mat-form-field>
                    <mat-label> {{"job-description" | translate}} </mat-label>
                    <textarea matInput type="text" [placeholder]="jobDescriptionPlaceholder"
                        formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label> {{"job-salary" | translate}} </mat-label>
                    <input matInput type="text" formControlName="salary">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <h2> {{"employer-header" | translate}} </h2>
            </div>
            <div formGroupName="employer" class="subform">
                <mat-form-field>
                    <mat-label> {{ "employer-name" | translate}} </mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label> {{ "employer-description" | translate}} </mat-label>
                    <textarea matInput type="text" formControlName="description"></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <h2> {{"contact-header" | translate}} </h2>
            </div>
            <div formGroupName="contact"  class="subform">
                <mat-form-field>
                    <mat-label> {{"contact-first-name" | translate}} </mat-label>
                    <input matInput type="text" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label> {{"contact-last-name" | translate}} </mat-label>
                    <input matInput type="text" formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label> {{"contact-email" | translate}} </mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label> {{"contact-telephone" | translate}} </mat-label>
                    <input matInput type="text" formControlName="telephone">
                </mat-form-field>
            </div>
        </form>
        <div>
            <div fxFlex="1 1 auto"></div>
            <button mat-raised-button (click)="submit()" style="margin: 1em"> Submit </button>
        </div>
    </div>
</div>