<button id="user-menu-button"
        mat-mini-fab
        color="accent"
        [matMenuTriggerFor]="userMenu.menu">
        <mat-icon style="transform: scale(2); margin: 0.3em ">account_circle</mat-icon>
</button>
<app-user-menu #userMenu></app-user-menu>