.project {
    margin: 1em;
    text-align: center
}

.headline-link {
    color: currentcolor;
    text-decoration: none;
}

.link {
    color: currentcolor;
    text-decoration: underline;
}

.content {
    margin-top: 1em;
}