<div style="display: flex; flex-direction: row; align-items: center;" >
    <button mat-raised-button (click)="sidenavService.close()" class="close-button" style="width: 100%;">
        <mat-icon *ngIf="(sidenavService.mode$ | async) == 'side'"> arrow_back </mat-icon>
        <mat-icon *ngIf="(sidenavService.mode$ | async)  == 'over'"> close </mat-icon>
    </button>
</div>
<mat-nav-list>
    <mat-list-item [routerLink]="'/'"> Home </mat-list-item>
    <mat-list-item [routerLink]="'projects'"> {{"projects" | translate}} </mat-list-item>
    <!--mat-list-item [routerLink]="'applications'"> {{"applications" | translate}} </mat-list-item-->
    <mat-list-item [routerLink]="'profile'"> {{"profile" | translate}} </mat-list-item>
    <mat-list-item [routerLink]="'offer'"> {{"hire" | translate}} </mat-list-item>
    <mat-list-item [routerLink]="'contact-list'" *ngIf="(authService.scopes$ | async)"> {{"contact" | translate}} </mat-list-item>
</mat-nav-list>