<div [ngClass]="themeService.activeTheme"
     style="height: 100%;">
    <mat-sidenav-container style="height: 100%;">
        <mat-sidenav [opened]="(isOpen$ | async)!"
                     [mode]="(mode$ | async)!"
                     style="width: 9em"
                     (closedStart)="sidenav.close()">
            <app-sidenav-menu></app-sidenav-menu>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-toolbar></app-toolbar>
            <app-content></app-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>