<div fxLayout="column" fxLayoutAlign="center center">
    <h1> {{offer?.job?.title}} </h1>
    {{offer?.job?.description}} 
    <h1>{{offer?.employer?.name}}</h1>
    {{offer?.employer?.description}}
    <h1>{{offer?.contact?.firstName}} {{offer?.contact?.lastName}}</h1>
    <div>{{offer?.contact?.email}}</div>
    <div>{{offer?.contact?.telephone}}</div>
</div>