<button mat-raised-button [matMenuTriggerFor]="languageMenu" class="tool-bar-button">
    {{this.languageService.getCurrentLang()?.name}}
    <mat-icon>expand_more</mat-icon>
</button>
<mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let language of this.languageService.languages"
        (click)="this.languageService.use(language.code)">
        {{language.name}} </button>
</mat-menu>