.left {
    @media (min-width: 600px) {
        width: calc(35% - 4rem);
        text-align: right;
    }
}

.optional{
    @media (max-width: 600px) {
        display: none;
    }
}

.right {
    margin-left: 1rem;
    flex-grow: 1;
    text-align: left;
    @media (max-width: 600px) {
        text-align: center;
    }
}



.img {
    display: flex;
    height: auto;
    max-height: 600px;
    width: 100%;

    @media (min-width: 600px) {
        max-width: 600px;
    }
}

.bullets {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-comb {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.header{
    font-size: 1.5em;
    font-weight: 500;
}