<div class="all">
    <div class="content">
        <h1 style="text-align: center;"> Sven Kuhlmann </h1>
        <h3 style="text-align: center;"> Master of Science </h3>
        <img src="/assets/shup.jpg" class="img">

        <h2 style="text-align: center;">{{ 'cv' | translate }}</h2>

        <ng-template #BulletPoint let-point="point">
            <div class="bullets">
                <div class="left optional"> {{point.left | translate}} </div>
                <div class="right"> {{point.right | translate}} </div>
            </div>
        </ng-template>


        <div class="header-comb">
            <div class="left header">2022 - {{"today" | translate}}</div>
            <div class="right header">{{ "software-developer" | translate}} </div>
        </div>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'employer', right:'Ceyoniq Technology GmbH'}}">
        </ng-template>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'product', right:'Enterprise Content Management System'}}">
        </ng-template>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'tech-stack', right:'Java, Spring, Hibernate, Gradle, PostgreSQL, Kubernetes'}}">
        </ng-template>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'organization', right:'Agile, Scrum, Continuous Integration'}}">
        </ng-template>

        <div class="header-comb">
            <div class="left header">2020 - 2022</div>
            <div class="right header">{{ "software-developer" | translate}} </div>
        </div>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'employer', right:' 4ALLPORTAL GmbH '}}">
        </ng-template>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'product', right:'Product Information Management System'}}">
        </ng-template>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'tech-stack', right:'Java, SpringBoot, Gradle, MySQL, Docker'}}">
        </ng-template>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'organization', right:'GitFlow'}}">
        </ng-template>

        <div class="header-comb">
            <div class="left header">2018 - 2020</div>
            <div class="right header">Master of Science: {{"computer-science" | translate}}</div>
        </div>
        <ng-template [ngTemplateOutlet]="BulletPoint"
            [ngTemplateOutletContext]="{point:{left: 'university', right:'uni-paderborn'}}">
        </ng-template>
    </div>
</div>