
@use '@angular/material' as mat;
@include mat.all-component-typographies();
@include mat.core();
@import '@angular/material/theming';

$light-primary: mat.define-palette(mat.$indigo-palette);
$root_frontend-accent: mat.define-palette(mat.$pink-palette);

$root_frontend-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $root_frontend-accent,
    warn: $root_frontend-warn,
  ),
));



$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $root_frontend-accent,
    warn: $root_frontend-warn,
  ),
));

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme)
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.xs{
  text-align: center;
}

.xs.button{
  margin-top: 1em;
}

.all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  margin: calc(1em);

}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}