.clickable {
  cursor: pointer;
}

.bullet-point {
  font-weight: 500;
  font-size: 50%
}

.card {
  margin: 5vw;
}


.vcard {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
    width: 100;
  }

}

.img {
  height: auto;
  max-height: 600px;

  @media (max-width: 600px) {
    width: 100%;
  }

  @media (min-width: 600px) {
    width: 50%;
    max-width: 600px;
  }
}

.name {
  display: flex;
  justify-content: center;
}

.bullet-point {
  display: flex;
  justify-content: center;
}



.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (max-width: 600px) {
    font-size: 1.5em;
  }

  @media (min-width: 600px) {
    width: 50%;
    font-size: 2.0em;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  gap: 1em
}

.button {
  flex-grow: 1;
}

.projects {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 1em;
}