<div class="all">
    <div class="content">
        <mat-card appearance="raised">
            <mat-card-content class="vcard">
                <img src="/assets/shup.jpg"
                     class="img">
                <div class="info">
                    <div class="name"> Sven Kuhlmann </div>
                    <div class="bullet-point"> - Fullstack Developer </div>
                    <div class="bullet-point"> - System Designer </div>
                    <div class="bullet-point"> - Software Architect </div>
                    <div class="bullet-point"> - Cluster Administrator</div>
                    <div class="bullet-point"> - Master of Science </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="buttons">
            <button class="button"
                    [routerLink]="['/profile']"
                    mat-raised-button> {{"profile" | translate}} </button>
            <button class="button"
                    [routerLink]="['/offer']"
                    mat-raised-button
                    color="primary"> {{"hire" | translate}}
            </button>
        </div>
        <app-project-section class="projects"></app-project-section>
        <app-comment-section class="projects"></app-comment-section>
        <app-social></app-social>
    </div>
</div>