
<mat-card id="comment"
          appearance="raised">
    <mat-card-header>
        <div style="display: flex; flex-direction: row; width: 100%; justify-content: end;">
            <button id="deleteButton"
                    mat-icon-button
                    (click)="delete(comment._links.self.href)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <mat-card-avatar mat-card-avatar
                         id="userImage"
                         [style.background-image]=" comment.user ? 'url(' + comment.user.picUrl + ')' :  'url(' + '/assets/placeholder.png' + ')' "
                         [style.background-size]="'cover'">
        </mat-card-avatar>
        <mat-card-title id="username"> {{ comment.user ? comment.user.firstName : "Annonymous" }} </mat-card-title>
    </mat-card-header>
    <mat-card-content id="comment-text"
                      class=comment-text>{{comment.text}}</mat-card-content>
</mat-card>